*{
    font-family: 'Lucida Grande', sans-serif;
}
html {
    background: url(/imgbb/assets/mlp__rainbow_dash__s_workload_by_mrniceguy976-d58xstp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(48, 57, 66);
}
a:hover{
    color: rgb(148, 157, 166);
}
#contents{
    position: absolute;
    top: 50%;
    margin-top: -180px;
    left: 0;
    width: 100%;
}
#loginform{
    width: 350px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 23px 14px;
    background-color: rgb(212,233,243);
    border: 1px solid rgb(148, 157, 166);

}
#loginform input{
    margin: 7px 0;
}

input[type=text], input[type=password]{
    width: 100%;
    height: 26px;
    font-size: 14px;
    text-align: center;
    color: rgb(148, 157, 166);
}
input[type=text]:focus, input[type=password]:focus{
    color: rgb(48, 57, 66);
}
input[type=submit]{
    color: rgb(48, 57, 66);
    font-size: 14px;
    width: 100%;
    height: 26px;
    border: 1px solid rgb(148, 157, 166);
    background: rgb(234,234,234);
    background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(198,198,198,1) 50%, rgba(198,198,198,1) 51%, rgba(234,234,234,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(50%,rgba(198,198,198,1)), color-stop(51%,rgba(198,198,198,1)), color-stop(100%,rgba(234,234,234,1)));
    background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(198,198,198,1) 50%,rgba(198,198,198,1) 51%,rgba(234,234,234,1) 100%);
    background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(198,198,198,1) 50%,rgba(198,198,198,1) 51%,rgba(234,234,234,1) 100%);
    background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(198,198,198,1) 50%,rgba(198,198,198,1) 51%,rgba(234,234,234,1) 100%);
    background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(198,198,198,1) 50%,rgba(198,198,198,1) 51%,rgba(234,234,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#eaeaea',GradientType=0 );
}
input[type=submit]:hover{
    background-position: 2px 2px;
}
#pinkie{
    position:relative;
    top: -211px;
    left: -237px;
    top: -57px;
    left: -140px;
}
.loginpony img{
    position: absolute;
    pointer-events:none;
}
.footer{
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*@media only screen and (max-device-width: 480px) {
    /*html{
        background-image: none;
        background-color: rgb(159, 220, 231);
    }
    #loginform{
        background-color: rgba(255,255,255,0.4);
        border: 2px solid rgb(148, 157, 166);
    }
    .footer{
        font-size: 2em;
    }
}*/


